* {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;  
}

body  {
    background-color: #141414;
    color: white;
}

.column {
    max-width: 27%;
    margin: 12%;
}
h2.content {
    margin: 6%;
    color: white;
}

.ui.fluid.submit.button {
    background-color: #E50914;
    color: white;
    margin-top: 30px;
}
.ui.fluid.submit.button:hover {
    background-color: #ff0022;
}
.error-message {
    color: #9F3A38;
    text-align: left;
    padding-left: 9px;
}

/* home page */
.genres-div {
    padding: 0px 1.5%;
}
.movie-list {
    float: left;
    width: 100%;
}
h2.genre-name {
    padding: 15px 0 9px 0;
    margin: 0;
}

.movie-div {
    padding-right: 6px;
}

.movie-img {
    width: calc(100%);
    height: 170px;
    object-fit: cover;
}
.movie-img-selected {
    outline: red solid 3px;
    width: calc(100%);
    height: 170px;
    object-fit: cover;
}

h4.movie-title {
    text-align: center;
    padding-top: 6px;
}

/* Modal Style */
.ui.active.dimmer {
    position: fixed;
    width: 100%;
}

.modal-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0.75;
    color: #141414;
    transform: translate(-50%, -50%);
    background-color: #141414;
}
.header {
    font-size: 2.5rem;
    padding-top: 9px;
    padding-bottom: 9px;
}
.header h3 {
    padding-top: 20px;
}

.content {
    color: #141414;
    text-align: center;
}
.content img {
    width: 30%;
    padding-right: 20px;
}

.description-overview {
    padding-top: 3%;
    padding-bottom: 9%;
    text-align: left;
}
.description-vote {
    text-align: center;
    font-size: 2.5rem;
}


@media screen and (min-width: 2400px) {
    h2.content {
        font-size: 3rem;
        margin: 6%;
        color: white;
    }
    .field input {
        height: 72px;
        font-size: 2rem;
    }
    .field i {
        font-size: 2rem;
    }
    .ui[class*="left icon"].input>input {
        padding-left: 66px !important;
        font-size: 1.5rem;
    }
    .ui.fluid.submit.button {
        margin-top: 50px;
        height: 72px;
        font-size: 2rem;
    }
    .error-message {
        padding-top: 3px;
        font-size: 2rem;
    }

    /* home page */
    h2.genre-name {
        font-size: 3rem;
    }
    h4.movie-title {
        font-size: 1.5rem;
    }
    .movie-img {
        height: 200px;
    }
    .movie-img-selected {
        height: 200px;
    }
}

@media screen and (min-width: 3800px) {
    h2.content {
        font-size: 5rem;
        margin: 6%;
        color: white;
    }
    .field input::-webkit-input-placeholder {
        height: 152px;
        font-size: 2.5rem;
    }
    .field input {
        height: 120px;
        font-size: 3rem;
    }
    .field i {
        font-size: 3rem;
    }
    .ui[class*="left icon"].input>input {
        padding-left: 120px !important;
        font-size: 3rem;
    }
    .ui.fluid.submit.button {
        margin-top: 70px;
        height: 120px;
        font-size: 3rem;
    }
    .error-message {
        padding-top: 9px;
        font-size: 2.5rem;
    }

    /* home page */
    h2.genre-name {
        font-size: 6rem;
    }
    h4.movie-title {
        font-size: 3.5rem;
    }
    .movie-img {
        height: 320px;
    }
    .movie-img-selected {
        height: 320px;
    }
}
@media screen and (min-width: 6400px) {
    .movie-img {
        height: 450px;
    }
    .movie-img-selected {
        height: 450px;
    }
}